.container {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 50%;

    @media (min-width: 1024px){

        justify-content: flex-end;
    }
    
}

.silverStart {

    color: grey;
}

.redStar {

    color: #FF6060;
}