.container {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
    
}

.silverStart {

    color: grey;
}

.redStar {

    color: #FF6060;
}