.container {

    display: flex;
    flex-direction: column;
    
    color: #FF6060;
    height: 100vh;


}

.errorContainer {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    height: 50%;
  


    h1 {
        font-size: 100px;
        font-weight: 800;
        opacity: 0;
        margin: 0;
        padding: 0;
        animation: hAnim 1000ms ease-in-out forwards;

        @media (min-width:1047px) {
        
            font-size: 200px;
         
         }
    }

    p {
        text-align: center;
        font-weight: 600;
        margin: 0;
        padding: 0;
        width: 90%;

        @media (min-width:1047px) {
        
            font-size: 40px;
         
        }

      
    }
}

a {
    text-align: center;
    color: #FF6060;
    margin-top: 30px;
}


@keyframes hAnim {
    
    from {

        opacity: 0;
        transform: scale(2);
    }

    to {

        opacity: 1;
        transform: scale(1)
    }
}