
.logo {

    display: flex;
    flex-direction: row; 
    width: 40%;
    padding: 0 10px;
    justify-content: space-evenly;
    

    @media (min-width:1047px) {
        
        
        width: 20%;
        
        
    }
    img {

        object-fit: cover;
        width: 100%;
        height: 100%;

       
    }
  

}





nav {

   
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    
    a {

        text-decoration: none;
        color: #FF6060;
        font-weight: bold;
        font-size: 14px;
    }

    @media (min-width:1047px) {
        
        display: flex;
        justify-content: space-between;
        width: 20%;
    }

  
}


.pending {

    color: blue;

}

.active {

    color: #FF6060;
    text-decoration: underline;
}




.headerImage {


    height: 50%;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 10px;
  

    overflow: hidden;
    
    img {

        object-fit: cover;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
 
        z-index: 1;
        transform: scale(1.4) translateX(-30px);
        filter: brightness(60%)
    }

    p {
        text-align: center;
        z-index: 4;
        color: white;
        font-weight: bold;
        padding: 10px;
        width: 48%;
        text-align: left;
        font-size: 20px;
      
    }
}


.aboutImage {

    height: 50%;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 10px;

  

    overflow: hidden;
    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        filter: brightness(80%);
    }
}

.logoAndNavAbout, .logoAndNav {

    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 30px 0;

    width: 100%;

    //border: red 3px solid;

    @media (min-width:1047px) {
        
        //border: solid rgb(114, 15, 48) 3px;
        justify-content: space-between;
        height: 40%;
         
     }

}


.aboutContextContainer, .container {

    display: flex;
    flex-direction: column;
    height: 60vh;

    //overflow: hidden;
    justify-content: flex-start;
    align-items: center;
    @media (min-width:1047px) {
        

        margin: 0 30px;
        height: 60vh;
        
    }
    
}

.propOr404Container {
    display: flex;
    //border: solid pink 2px;
    height: 20vh;
    align-items: center;

    @media (min-width:1047px) {
        
        margin: 0 30px;
        //border: solid orange 3px;
      }

  

}

.propOr404LogoAndNav {

    display: flex;
   //border: solid black 2px;
    height: 100%;

    align-items: center;

    @media (min-width:1047px) {
        
     
        //border: solid royalblue 3px;
        width: 100%;
        justify-content: space-between;
    }
    
}

.propOr404Nav {
   
    display: flex;
    align-items: center;

    
    height: 100%;

    a {
    
        padding: 0;
        margin: 0;
    }


    @media (min-width:1047px) {
        
     
        //border: solid royalblue 3px;
        width: 20%;
        justify-content: space-evenly;
    }
}